.footer-distributed {
    position: absolute;
    background-color: #444444;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px;
    padding: 55px 50px;
    /* margin-top: 30px; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: rgba(195, 191, 10, 1);
    font: normal 24px;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.zaya-logo-img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #ffffff;
    /* #8f9296; */
    font-size: 16px;
    font-weight: normal;
    margin: 20px;
    text-align: center;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 32%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 16px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 16px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #ffffff;
    /* #5383d3; */
    text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 15%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    /* #92999f; */
    font-size: 16px;
    font-weight: normal;
     margin: 0; 
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
    text-align: center;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 45px;
    height: 40px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    padding: 4px;
}

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 16px;
        /*bottom: 0!important;
        position: static;*/
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

.arrow-go-to-top.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.arrow-go-to-top {
    margin-right: 20px;
    margin-bottom: 20px;
}

.arrow-go-to-top {
    width: 50px;
    height: 50px;
    font-size: 16px;
    line-height: 46px;
    color: #FFF;
    background: #c3bf0a;
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom: 15px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
    transition: .45s all ease-in-out;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    cursor: pointer;
}

.fs-copyright {
    border-top: 1px solid #676767;
}
