<footer class="footer-distributed">

    <div class="footer-left">

        <!-- <h3>ZAYA Home and Gardening</h3> -->
        <img class="zaya-logo-img" src="assets/images/logo3.svg" alt="ZAYA Logo" />
    </div>

    <div class="footer-center">

        <div>
            <i class="fas fa-map-marker"></i>
            <p>
                <span>Cynamonowa 2</span> Jelenia Góra 58-560, Poland</p>
        </div>

        <div>
            <i class="fas fa-phone"></i>
            <p>+48 512 722 365</p>
        </div>

        <div>
            <i class="fas fa-envelope"></i>
            <p>
                <a href="mailto:contact@zaya.com">contact@zaya.com</a>
            </p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">
            <a href="https://www.facebook.com/Zaya-Projektowanie-Wn%C4%99trz-i-Ogrod%C3%B3w-593941440962918" target="_blank">
                <i class="fab fa-facebook-square fa-2x"></i>
            </a>
            <a href="https://twitter.com/ZayaDesign" target="_blank">
                <i class="fab fa-twitter-square fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/zayadesignstudio/" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
            </a>

        </div>


    </div>
    
    <div style="color: #ffffff;">
        <!-- <div class="container"> -->
        <div class="row">
            <hr class="fs-copyright">
            <div class="col-md-6 text-center">
                <p>ZAYA Projektowanie Wnętrz i Ogrodów © {{ currentYear }}</p>
            </div>
            <div class="col-md-6 text-center">
                <p>Zaprojektowane przez:
                    <a href="#">Kubex </a>
                </p>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <go-top-button [animate]="true" [speed]="20" [acceleration]="5" [scrollDistance]="300"  [classNames]="'arrow-go-to-top active'">
            <i class="fa fa-angle-up"></i>
        </go-top-button>
</footer>