.footer-distributed {
    background-color: #444444;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px;
    padding: 55px 22px;
}

@media (max-width: 768px) {

    .footer-distributed {
        font-size: 16px;
        font-weight: bold;
        display: block;
        width: 100%;
        text-align: center;
    }
}

.footer-text-center .footer-center p a{
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

.footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 16px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-center i.fa-envelope {
    font-size: 16px;
    line-height: 38px;
}

.footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 2;
}

.footer-center p a {
    color: #ffffff;
    text-decoration: none;
} 

.footer-icons a {
    display: inline-block;
    width: 45px;
    height: 40px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    padding: 4px;
}

.footer-company-about {
    color: #ffffff;
    font-size: 16px;
}

.arrow-go-to-top.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.arrow-go-to-top {
    margin-right: 20px;
    margin-bottom: 20px;
}

.arrow-go-to-top {
    width: 50px;
    height: 50px;
    font-size: 16px;
    line-height: 46px;
    color: #FFF;
    background: #c3bf0a;
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom: 15px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
    transition: .45s all ease-in-out;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    cursor: pointer;
    opacity: 1 !important;
    border: 1px solid #c3bf0a;
}


.fs-copyright {
    border-top: 1px solid #676767;
}
