<footer class="footer-distributed">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img class="zaya-logo-img" src="assets/images/logo3.svg" alt="ZAYA Logo" />
            </div>
            <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                <div class="footer-text-center footer-center">
                    <div>
                        <i class="fas fa-map-marker"></i>
                        <p>
                            <span>Cynamonowa 2</span> Jelenia Góra 58-560, Poland
                        </p>
                    </div>
                    <div>
                        <i class="fas fa-phone"></i>
                        <p>+48 512 722 365</p>
                    </div>
                    <div>
                        <i class="fas fa-envelope"></i>
                        <p>
                            <a href="mailto:contact@zaya.com">contact@zaya.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="footer-company-about">
                    <p>
                        <span>About the company</span>
                    </p>
                    <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. </p>
                    <p>Fusce euismod convallis velit,</p>
                    <p> eu auctor lacus
                            vehicula sit amet.</p>
                </div>

                <div class="footer-icons">
                    <a href="https://www.facebook.com/Zaya-Projektowanie-Wn%C4%99trz-i-Ogrod%C3%B3w-593941440962918" target="_blank">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a href="https://twitter.com/ZayaDesign" target="_blank">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com/zayadesignstudio/" target="_blank">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <go-top-button [animate]="true" [speed]="20" [acceleration]="5" [scrollDistance]="300" [classNames]="'arrow-go-to-top active'">
        <i class="fa fa-angle-up"></i>
    </go-top-button>
</footer>