.bg-white-var-1 {
    background-color: #fff;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.11);
    padding: 40px 0 60px;
}

.text-sbold {
    font-weight: 600;
}

.divider {
    display: block;
    color: inherit;
    padding: 0;
    border-width: 4px;
    width: 55px;
    border-style: none none solid none;
}

.divider-Z {
    border-color: #C3BF0A;
    margin: 25px auto 22px;
}

.bg-white-var-1 p {
    margin-top: 40px;
    padding: 0 50px 0 70px;
}

.text-center {
    text-align: center;
    margin-top: -60px;
}

.small {
    display: block;
    font-size: 16px;
    line-height: 1.75;
    text-align: justify;
}


.zaya-section {
    position: relative;
    padding: 80px 0;
}

.zaya-section-1 {
    position: relative;
    padding: 80px 0;
}

.zaya-section-grey {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    background-color: #f7f8fa !important;
}

.zaya-center-header{
    margin-bottom: 60px;
    font-weight: 700;
}

.zaya-text-a{
    color: inherit;
    font-size: 20px;
}

.zaya-col4-custom{
    padding-bottom: 40px;
}

.zaya-motto{
    font-weight: 600;
    padding-bottom:  0px;
    margin: -80px 0 20px;
}

.blurb .blurb-title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.75;
}

@media (max-width: 800px) {
    .col-md-4{
        padding-bottom: 40px;
    }
}

@media (max-width: 414px) {
    .zaya-btn-primary-spacing {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .zaya-quote-wrap .zaya-quote-text {
        font-size: 30px;
    }
    .zaya-main-text-option {
        font-size: 15px !important;
        line-height: 40px !important;
    }
}

@media (min-width: 1800px){
    .blurb .blurb-title {
        margin-top: 20px;
    }
}

@media (max-width: 760px){
    .blurb .blurb-title {
        margin-top: 20px;
    }
}

@media (max-width: 1200px){
    .zaya-btn-primary-spacing {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 12px;
    }
    .zaya-img-main{
        margin-top: 20px;
    }
    
}

@media (min-width: 1200px){
    .zaya-container{
        width: 1260px;
    }
}

.blurb .blurb-content {
    margin-top: 25px;
}

.zaya-img-main{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.zaya-header-company{
    margin-top: -45px;
    font-weight: 700;
}

.zaya-span-name-company{
    color: #C3BF0A;
}

.zaya-quote-wrap-main {
    float: left;
    width: 100%;
    padding: 60px 0 60px;
    background: #c3bf0a;
    text-align: center;
    margin-top: -140px;
    
}

.zaya-quote-wrap-main .zaya-quote-text-main {
    float: left;
    width: 100%;
    color: white;
    font-size: 45px;
    font-family: Pacifico;
}

.zaya-main-text-p > p{
    text-align: justify;
    font-size: 18px;
    /* line-height: 1.75; */
}

.zaya-main-text-option {
    font-size: 16px;
    line-height: 80px;
}

.zaya-main-mark-ok{
    color: #C3BF0A;
}

