<app-zaya-slider></app-zaya-slider>
<section class="zaya-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1 class="zaya-motto"> Robimy to co kochamy a potem zbieramy z tego plony</h1>
                    <p>When we take your landscaping project, we never waste your time idly… Quick on getting all the brief
                        on the ideas you might have, we immediately start the working process, making sure that everything
                        gets done ahead of the schedule!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="blurb">
                    <img src="/assets/images/diamond.svg" width="75" height="75" />
                    <h5 class="blurb-title">
                        <a class="zaya-text-a" href="about-us.html">Landscape Ideas</a>
                    </h5>
                    <p class="blurb-content">From finding the best landscape design ideas or inspiration to maintaining your dream yard, the landscaping
                        tips and design ideas will keep you moving. "Landscape plans for drainage problems may also entail
                        planting beds away from the home’s foundation </p>
                </div>
                <div class="blurb">
                    <img src="/assets/images/home.svg" width="75" height="75" />
                    <h5 class="blurb-title">
                        <a class="zaya-text-a" href="about-us.html">Landscape Ideas</a>
                    </h5>
                    <p class="blurb-content">From finding the best landscape design ideas or inspiration to maintaining your dream yard, the landscaping
                        tips and design ideas will keep you moving. "Landscape plans for drainage problems may also entail
                        planting beds away from the home’s foundation </p>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <img src="assets/images/main-right.jpg" class="zaya-img-main" width="300" height="450" />
            </div> -->

        </div>
        <div class="row">
            <div class="col-md-12">
                <button routerLink="/portfolio" type="button" class="btn btn-success btn-lg btn-primary-spacing pull-right zaya-btn-primary-spacing">MOJE PROJEKTY</button>
            </div>
        </div>
    </div>
</section>
<section id="zaya-services"  class="zaya-section zaya-section-grey ">
    <div class="container">
        <div class="row text-center">
            <div>
                <div class="col-md-12">
                    <h1 class="zaya-center-header">Zakres Usług</h1>
                </div>
            </div>
            <div class="col-md-4 zaya-col4-custom">
                <div class="bg-white-var-1">
                    <img src="/assets/images/leaf.svg" width="60" height="60" />
                    <div class="divider divider-Z"></div>
                    <h6 class="text-sbold">
                        <a class="zaya-text-a">Projektowanie Ogrodu</a>
                    </h6>
                    <p class="text-left small">"Landscape plans for drainage problems may also entail planting beds away from the home’s foundation,
                        or installing downspouts complete with extensions or with access to perimeter drains. </p>
                </div>
            </div>
            <div class="col-md-4 zaya-col4-custom">
                <div class="bg-white-var-1">
                    <img src="/assets/images/leaf.svg" width="60" height="60" />
                    <div class="divider divider-Z"></div>
                    <h6 class="text-sbold">
                        <a class="zaya-text-a">Projektowanie Wnetrz</a>
                    </h6>
                    <p class="text-left small">"Landscape plans for drainage problems may also entail planting beds away from the home’s foundation,
                        or installing downspouts complete with extensions or with access to perimeter drains. </p>
                </div>
            </div>
            <div class="col-md-4 zaya-col4-custom">
                <div class="bg-white-var-1">
                    <img src="/assets/images/leaf.svg" width="60" height="60" />
                    <div class="divider divider-Z"></div>
                    <h6 class="text-sbold">
                        <a class="zaya-text-a">Dobór Materiałow</a>
                    </h6>
                    <p class="text-left small">"Landscape plans for drainage problems may also entail planting beds away from the home’s foundation,
                        or installing downspouts complete with extensions or with access to perimeter drains. </p>
                </div>
            </div>
        </div>
    </div>
</section>