<app-zaya-slider></app-zaya-slider>
<section class="zaya-section">
  <section class="zaya-quote-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="zaya-quote-text">Dom i Ogród to Twoja historia. Opowiedz nam o tym... </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/main_photo.jpg" class="img-responsive" alt="Responsive image">
      </div>
      <div class="col-md-8">
        <div class="col-md-12">
          <div class="page-header">
            <h2 class="zaya-header-company">Witamy w
              <span class="zaya-span-name-company"> Zaya </span> - Projektowanie Ogrodów i Wnętrz</h2>
          </div>
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="zaya-main-text-p">
            <p>Zaya to firma, która z pasją wykorzystuje swoją fachową wiedzę i doświadczenie w tworzeniu wymarzonego projektu
              Twojego ogrodu oraz wnętrza mieszkalnego.
            </p>
            <p>
              Każdy nasz projekt w połączeniu z realizacją odpowiada najbardziej wymagającym pomysłom inwestora.
            </p>
            <p>
              Otrzymując zlecenie, nigdy nie tracimy Twojego czasu i słuchamy wszystkich Twoich sugestii tak, aby jak najszybciej rozpocząć
              proces wdrażania prac i zakończyć go w zaplanowanym terminie z sukcesem.
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="zaya-main-text-p" style="margin-top: 20px;">
            <p>
              Nasze usługi to szeroko pojęte działania w terenie jak i we wnętrzu mieszkalnym. Tworzymy zieleń na wolnych przestrzeniach,
              dbamy o istniejące ogrody, aranżujemy wnętrza , pomagamy w poszukiwaniu wymarzonych elementów do pomieszczeń
              i ogrodów.
            </p>
            <p>
              Realizując Twoje wizje spełnimy Twoje marzenia.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xs-12">
        <div class="col-md-12 col-xs-12">
          <div class="page-header">
            <h3>
              Poprzez nasze osobiste uczestnictwo we wszystkich etapach powstawania projektu:
            </h3>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="zaya-main-text-option">
              <i class="fas fa-check fa-2x zaya-main-mark-ok"></i>
              Prezentacja Koncepcji
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="zaya-main-text-option">
              <i class="fas fa-check fa-2x zaya-main-mark-ok"></i>
              Pomysł Inwestora
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="zaya-main-text-option">
              <i class="fas fa-check fa-2x zaya-main-mark-ok"></i>
              Wizualizacja 3D
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="zaya-main-text-option">
              <i class="fas fa-check fa-2x zaya-main-mark-ok"></i>
              Realizacja Projektu
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="zaya-main-text-option">
              <i class="fas fa-check fa-2x zaya-main-mark-ok"></i>
              Pielęgnacja Ogrodu
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="zaya-main-text-option">
              <i class="fas fa-check fa-2x zaya-main-mark-ok"></i>
              Spotkanie w Miejscu Inwestycji
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="assets/images/home1.png" class="img-responsive" alt="Responsive image">
        </div>
        <div class="col-md-12 col-xs-12 center-block">
          <button routerLink="/portfolio" type="button" class="btn btn-success btn-lg btn-primary-spacing zaya-btn-primary-spacing center-block">ZOBACZ NASZE PROJEKTY</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="zaya-section">
  <section class="zaya-quote-wrap-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="zaya-quote-text-main">Robimy to co kochamy a potem zbieramy tego plony... </div>
        </div>
      </div>
    </div>
  </section>
</section>
<section id="zaya-services" class="zaya-section zaya-section-grey ">
  <div class="container zaya-container">
    <div class="row text-center">
      <div>
        <div class="col-md-12">
          <h1 class="zaya-center-header">Zakres Usług</h1>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 zaya-col4-custom">
        <div class="bg-white-var-1">
          <i class="fab fa-envira fa-4x zaya-main-mark-ok"></i>
          <div class="divider divider-Z"></div>
          <h6 class="text-sbold">
            <p class="zaya-text-a">Projektowanie ogrodu:</p>
          </h6>
          <p class="text-left small"> jest planowaniem rozmieszczenia roślin oraz małej architektury ogrodowej w harmonii i funkcjonalności dla ogólnej
            satysfakcji klienta. Projekt ogrodu to złożony proces na który składa się wszystko to co dotyczy kształtowania
            i urządzania przestrzeni oraz jej powiązań z budynkiem. Dzięki naszej wiedzy i doświadczeniu wykreujemy Twoją
            wymarzoną strefę zieleni, tak aby zaspokoić potrzeby i oczekiwania nie tylko samego właściciela, ale także pozostałych
            jego użytkowników.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 zaya-col4-custom">
        <div class="bg-white-var-1">
          <i class="fas fa-home fa-4x zaya-main-mark-ok"></i>
          <div class="divider divider-Z"></div>
          <h6 class="text-sbold">
            <p class="zaya-text-a">Projektowanie wnętrz:</p>
          </h6>
          <p class="text-left small">jest realizacją koncepcji klienta w kształtowaniu przestrzeni mieszkalnej która urzeczywistni jego marzenia i pozwoli
            komfortowo spędzać w niej czas. Projektując wnętrza, staramy się aby ich aranżacja była zarówno praktyczna jak
            i estetyczna, a wszystko dla funkcjonalności i zadowolenia inwestora. Naszą domeną jest realizacja koncepcji
            właściciela tak, aby projektowana przestrzeń była odzwierciedleniem jego osobowości, zainteresowań oraz stylu
            życia z którym się utożsamia każdego dnia.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 zaya-col4-custom">
        <div class="bg-white-var-1">
          <i class="fas fa-people-carry fa-4x zaya-main-mark-ok"></i>
          <div class="divider divider-Z"></div>
          <h6 class="text-sbold">
            <p class="zaya-text-a">Zespół wykonawczy:</p>
          </h6>
          <p class="text-left small">jest ekipą która posiada 10 letnie doświadczenie w realizacji i pielęgnacji ogrodów na Wyspach Brytyjskich. Zajmujemy
            się kompleksowo realizacją powierzonych nam projektów wykonując wszystkie prace wg ustaleń i wytycznych projektowych.
            Szukamy i dostarczamy rośliny z zaprzyjaźnionych szkółek oraz hurtowni ogrodniczych. Pielęgnujemy, kosimy, nawozimy,
            rozpoznajemy choroby roślin, zalecamy odpowiednie preparaty, wertykulujemy trawę i przycinamy rośliny. </p>
        </div>
      </div>
    </div>
  </div>
</section>