<div class="fs-footer-cookie-privacy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fs-footer-cookie-privacy">
        <h5 class="">POLITYKA PRAWNA</h5>
        <ul>
          <li>
            <a routerLink="/policy/0">POLITYKA COOKIES</a>
          </li>
          <li>
            <a routerLink="/policy/1">POLITYKA PRYWATNOŚCI</a>
          </li>
          <li>
            <a routerLink="/policy/2">POLITYKA SOCIAL MEDIA</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>