<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header" id="b546cab3-423d-4828-a48a-d43f0066b914">
                <h1 id="51b76941-45cd-4ad4-b2be-20d8bc259023" style="text-align: center; font-family: Pacifico;">Moje Projekty
                </h1>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6 thumb" *ngFor="let i of numberOfImages">
            <a class="thumbnail" [routerLink]="[i + 1]">
                <img class="img-responsive " src="assets/images/portfolio{{i + 1}}.jpg" alt="100%x300" style="width: 100%;">
                <div class="whiterectangle">
                    <div class="numbertext">
                        <div class="numbertable">
                            <div class="numbertablecell">
                                <div class="numbertext111">0{{ i + 1 }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="caption">
                    <h3>Title {{ i }}</h3>
                    <p class="zaya-text-thumb">jakis tam tekst o tym czego dotyczyl projekt w kilku zdaniach. 2-3 zdnia nie wiecee nie ma co sie rozpisywac</p>
                </div>
        </div>
    </div>
</div>