<div class="container">
    <div class="row" style="margin-top: -40px;">
        <div class="col-md-12">
            <div class="page-header" id="b546cab3-423d-4828-a48a-d43f0066b914">
                <h1 id="51b76941-45cd-4ad4-b2be-20d8bc259023">Moje Projekty
                    <small id="4891142c-6663-401f-abe9-add4918b433f">Projekty Wdrozone</small>
                </h1>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <a class="thumbnail " href="#" onclick="fsGlobalQuery.HDom.openUrl('/Main/GetView/ZayaPortfolioDetail', 'mainController', null, 'portfolio1')">
                <img class="img-responsive " src="assets/images/portfolio1.jpg" alt="100%x300" style="width: 100%;">
                <div class="whiterectangle">
                    <div class="numbertext">
                        <div class="numbertable">
                            <div class="numbertablecell">
                                <div class="numbertext111">01</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" onclick="fsGlobalQuery.HDom.openUrl('/Main/GetView/ZayaPortfolioDetail', 'mainController', null, 'portfolio2')">
                <img class="img-responsive" src="assets/images/portfolio2.jpg" alt="" style="width: 100%">
                <div class="whiterectangle">
                    <div class="numbertext">
                        <div class="numbertable">
                            <div class="numbertablecell">
                                <div class="numbertext111">02</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" onclick="fsGlobalQuery.HDom.openUrl('/Main/GetView/ZayaPortfolioDetail', 'mainController', null, 'portfolio3')">
                <img class="img-responsive" src="assets/images/portfolio3.jpg" alt="" style="width: 100%">
                <div class="whiterectangle">
                    <div class="numbertext">
                        <div class="numbertable">
                            <div class="numbertablecell">
                                <div class="numbertext111">03</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" onclick="fsGlobalQuery.HDom.openUrl('/Main/GetView/ZayaPortfolioDetail', 'mainController', null, 'portfolio4')">
                <img class="img-responsive" src="assets/images/portfolio4.jpg" alt="" style="width: 100%">
                <div class="whiterectangle">
                    <div class="numbertext">
                        <div class="numbertable">
                            <div class="numbertablecell">
                                <div class="numbertext111">04</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>