
<div class="container">
  <div class="row">
    <div class="col-md-7">
      Scope
    </div>
    <div class="col-md-5 col-about">
      <img src="assets/images/portfolio1.jpg"  alt width="400" height="400">
      <div class="caption">
        <h5 class="title text-bold">Krótko o nas</h5>
        <p class="description">I tu powinien znaleźć się opis skócony tego,
           czym zajmuje się firma. Opis Pełny będzie umieszczony na stronie, która będzie dostępna po kliknięciu na link.
        </p>
      </div>
    </div>
  </div>
</div>