<div class="container">
  <article class="zaya-portfolio-main">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="page-header">
          <h1>Tytuł Projektu</h1>
        </div>
        <div class="zaya-portfolio-content">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
            its layout.
            <br> Reducing the need for fossil fuel generation.</p>
          <h4>Introduce Project</h4>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
            its layout. </p>
          <h4>Implementation Process</h4>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
            its layout. </p>
          <ul>
            <li>It is a long established fact that a reader.</li>
            <li>It is a long established fact that a reader</li>
            <li>It is a long established fact that a reader</li>
            <li>It is a long established fact that a reader</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <ul class="zaya-portfolio-info zaya-portfolio-sidebar col-6">
          <li>
            <h5 class="zaya-portfolio-info-label zaya-portfolio-info-h5">
              Klient: </h5>
            <p class="zaya-portfolio-info-content">
              Andrzej J. </p>
          </li>
          <li>
            <h5 class="zaya-portfolio-info-label zaya-portfolio-info-h5">
              Lokalizacja: </h5>
            <p class="zaya-portfolio-info-content">
              New York </p>
          </li>
          <li>
            <h5 class="zaya-portfolio-info-label zaya-portfolio-info-h5">
              Powierzchnia: </h5>
            <p class="zaya-portfolio-info-content">
              1.800m2 </p>
          </li>
          <li>
            <h5 class="zaya-portfolio-info-label zaya-portfolio-info-h5">
              Wymagania do pracy: </h5>
            <p class="zaya-portfolio-info-content">
              Garden care, Removal, Cuting.v.v... </p>
          </li>
          <li>
            <h5 class="zaya-portfolio-info-label zaya-portfolio-info-h5">
              Czas wykonania: </h5>
            <p class="zaya-portfolio-info-content">
              2 months </p>
          </li>
        </ul>
      </div>
    </div>
  </article>

</div>

<div class="zaya-background-portfolio-grey">
  <div class="container" style="margin-top:40px;">
    <div class="row" style="margin-bottom: 50px;">
      <div class="col-md-6 col-xs-12">
        <a (click)="openLightbox(1)" class="thumbnail">
          <img width="580" height="450" src="assets/test/a.jpg">
        </a>
      </div>
      <div class="col-md-6 col-xs-12">
        <a (click)="openLightbox(2)" class="thumbnail">
          <img src="assets/test/b.jpg" height="450" width="580">
        </a>
      </div>
      <div class="col-md-6 col-xs-12">
        <a (click)="openLightbox(3)" class="thumbnail">
          <img width="580" height="450" src="assets/test/c.jpg">
        </a>
      </div>
      <div class="col-md-6 col-xs-12">
        <a (click)="openLightbox(4)" class="thumbnail">
          <img src="assets/test/d.jpg" height="450" width="580">
        </a>
      </div>
    </div>
  </div>
</div>