<div class="fs-owner-app">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-12">
                <div class="form-group">
                    <button style="display: none;" id="updatesw" name="updatesw" type="button" class="fs-updateSW-plugin fs-updateSW fs-updateSW-maxwidth">ZAINSTALUJ AKTUALIZACJE APLIKACJI</button>
                </div>
            </div> -->
            <div class="col-md-12">
                <p class="fs-owner-app-author">Designed by
                    <a href="#">Kubex</a>
                </p>
            </div>
        </div>
    </div>
</div>