<header>
    <app-fs-top-contact-bar></app-fs-top-contact-bar>
    <!-- Navbar fixed top -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-top: 40px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/home" (click)="onMenuClick()">
                    <img alt="Brand" class="zaya-logo" src="assets/images/logo3.svg" width="100px" height="60px">
                </a>
                <p class="navbar-text">Projektowanie Ogrodów i Wnętrz</p>
            </div>
            <div class="navbar-collapse collapse">
                <!-- Left nav -->
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a class="active" routerLink="/home" routerLinkActive="active" (click)="onMenuClick()">STRONA GŁÓWNA</a>
                    </li>
                    <li>
                        <a routerLink="/portfolio" routerLinkActive="active" (click)="onMenuClick()">PROJEKTY</a>
                    </li>
                    <li>
                        <a routerLink="/contact" routerLinkActive="active" (click)="onMenuClick()">KONTAKT</a>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container -->
    </div>
</header>