<section class="fs-section-grey">
  <div class="container">
    <div class="row">
      <div class="fs-lock-cookie-margin" [hidden]="isShowCookie">
        <div class="col-md-12" class="zaya-text-center zaya-center-header" style="margin-bottom: 0px">
          <img src="assets/images/cookie_color.svg" width="40px" height="40px">
          <h2 class="zaya-center-header">WYKORZYSTANIE PLIKÓW COOKIES</h2>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div style="display: inline-flex;">
                <img src="assets/images/cookie_color.svg" width="38px" height="39px">
                <p class="fs-font-cookie-panel-header">Czym sa pliki cookies:</p>
              </div>
            </div>
            <div class="panel-body" style="padding: 48px;">
              <div class="fs-policy-cookie-font">
                <strong>{{ wwwName }}</strong> korzysta na swojej stronie internetowej
                <a class="fs-policy-cookie-color-text" routerLink="">
                  <b>{{ wwwAddress }}</b>
                </a> z plików&nbsp;typu „cookies” oraz innych cyfrowych technologii personalizacji danych.
                <br>
                <br>Plik typu „cookie” to niewielki plik zapisywany na komputerze Klientów i wszystkich&nbsp;odwiedzających stronę
                internetową
                <a class="fs-policy-cookie-color-text" routerLink="">
                  <b>{{ wwwAddress }}</b>
                </a>, w którym przechowywane są&nbsp;ustawienia i inne informacje używane na odwiedzanych przez nich stronach
                internetowych. Pliki&nbsp;„cookies” mogą zawierać dane dotyczące ustawień witryn lub być używane do śledzenia&nbsp;interakcji
                użytkowników ze stronami internetowymi.
                <br>
                <br>Takie pliki umożliwiają
                <strong>{{ wwwName }}</strong> na uzyskanie informacji o czy odwiedzili Państwo&nbsp;naszą stronę internetową w przeszłości
                i na jakie treści tej strony zwrócili Państwo swoją uwagę.&nbsp; Pliki typu „cookies” nie są niebezpieczne
                dla użytkowników strony internetowej. Nie są&nbsp;programami komputerowymi i nie mogą być wykorzystywane
                jako kody. Nie mogą być także&nbsp;wykorzystywane do rozpowszechniania jakichkolwiek wirusów czy innego złośliwego
                w działaniu oprogramowania. Każdy użytkownik może samodzielnie zarządzać plikami typu „cookies”.
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div style="display: inline-flex;">
                <img src="assets/images/cookie_color.svg" width="38px" height="39px">
                <p class="fs-font-cookie-panel-header">Wykorzystnaie plików cookies:</p>
              </div>
            </div>
            <div class="panel-body" style="padding: 48px;">
              <div class="col-md-12 fs-policy-cookie-font">
                <br>Używamy plików typu „cookies” w celu tworzenia zbiorczych statystyk osób odwiedzających&nbsp;nasze strony
                internetowe oraz ich zachowań w sieci. Wykorzystujemy te informacje, aby móc&nbsp;dowiedzieć się, które z
                części naszej strony internetowej są najczęściej odwiedzane oraz na&nbsp;potrzeby wprowadzania odpowiednich
                usprawnień. Dane mają charakter skumulowany, co&nbsp;oznacza, że nie możemy dokonywać identyfikacji poszczególnych
                odwiedzających.
                <br>
              </div>
              <div class="col-md-12 fs-policy-cookie-font">
                <br>Strona internetowa
                <a class="fs-policy-cookie-color-text" routerLink="">
                  <b>{{ wwwAddress }}</b>
                </a> korzysta z usługi analitycznej Google Analytics&nbsp;świadczonej przez Google, Inc. Usługa ta wykorzystuje
                pliki typu „cookies” do analizowania&nbsp;sposobów w jaki użytkownicy korzystają ze strony internetowej.
                Informacje generowane przez&nbsp;pliki typu „cookies” wraz z adresem IP są przekazywane do Google, Inc. i
                są przechowywane na&nbsp;serwerach Google, Inc.
                <br>
              </div>
              <div class="col-md-12 fs-policy-cookie-font">
                <br>Google, Inc. będzie korzystać z tej informacji na potrzeby dokonywania oceny korzystania przez&nbsp;Państwa
                ze strony internetowej, opracowywania raportów na temat aktywności na stronie dla&nbsp;operatorów stron internetowych
                oraz świadczenia innych usług dotyczących witryny i korzystania&nbsp;z Internetu. Polityka prywatności firmy
                Google dostępna jest na stronie:
                <a href="https://www.google.pl/intl/pl/policies/privacy/" class="fs-wrap-policy fs-policy-cookie-color-text">
                  <b>https://www.google.pl/intl/pl/policies/privacy/</b>
                </a>.
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div style="display: inline-flex;">
                <img src="assets/images/cookie_color.svg" width="38px" height="39px">
                <p class="fs-font-cookie-panel-header">Instrukcja wyłaczenia plików cookies:</p>
              </div>
            </div>
            <div class="panel-body" style="padding: 48px;">
              <div class="fs-policy-cookie-font">
                <br>Mają Państwo możliwość ustawienia przeglądarki w taki sposób, aby akceptowała ona lub&nbsp;odrzucała wszystkie
                konkretne pliki typu „cookies”. Można także ustawić przeglądarkę w taki&nbsp;sposób, aby wysyłała ona ostrzeżenie
                za każdym razem, kiedy plik typu „cookie” jest przesyłany&nbsp;do Państwa komputera. Pliki typu „cookies”
                zachowane na Państwa komputerze można na trwałe&nbsp;usunąć.
                <br> Informacje dotyczące wyłączania plików typu „cookies” dostępne są na stronie:
                <a href="http://www.jakwylaczyccookie.pl" class="fs-wrap-policy fs-policy-cookie-color-text">
                  <b>http://www.jakwylaczyccookie.pl</b>
                </a>.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fs-lock-cookie-margin" [hidden]="isShowPrivacy">
        <div class="col-md-12 zaya-text-center zaya-center-header" style="margin-bottom: 0px">
          <i class="fas fa-lock fa-1x fs-lock-color-icon"></i>
          <h2 class="zaya-center-header">POLITYKA PRYWATNOŚCI</h2>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div style="display: inline-flex;">
                <i class="fas fa-lock fa-2x fs-lock-color-icon"></i>
                <p class="fs-font-cookie-panel-header">Polityka prywatności {{ wwwName }}:</p>
              </div>
            </div>
            <div class="panel-body" style="padding: 48px;">
              <div class="fs-policy-cookie-font">
                <strong>{{ wwwName }}</strong> szanuje poufność danych osobowych swoich Klientów i wszystkich&nbsp;odwiedzających
                stronę internetową
                <a class="fs-policy-cookie-color-text" routerLink="">
                  <b>{{ wwwAddress }}</b>
                </a>. Niniejsza Polityka prywatności&nbsp;zawiera opis Polityki prywatności stosowanej przez {{ wwwName }} w
                zakresie&nbsp;dotyczącym prowadzonej przez firmę strony internetowej.
                <a class="fs-policy-cookie-color-text" routerLink="">
                  <b>{{ wwwAddress }}</b>
                </a>.
                <br>
                <br> Klienci i wszyscy odwiedzający stronę internetową
                <a class="fs-policy-cookie-color-text" routerLink="">
                  <b>{{ wwwAddress }}</b>
                </a> przyjmują do&nbsp;wiadomości i akceptują treść niniejszej Polityki prywatności. Korzystanie ze strony internetowej&nbsp;
                <a class="fs-policy-cookie-color-text" routerLink="">
                  <b>{{ wwwAddress }}</b>
                </a> po opublikowaniu Polityki prywatności i ewentualnych zmian jej treści w&nbsp;zakresie ochrony prywatności
                będzie traktowany jako akceptacja zmian przez Klientów i&nbsp;wszystkich odwiedzających stronę internetową.
                <a class="fs-policy-cookie-color-text" routerLink="">
                  <b>{{ wwwAddress }}</b>
                </a>.
                <br>
                <br>
                <p class="fs-policy-cookie-font">
                  <strong>{{ wwwName }}</strong> mogą wprowadzać zmiany do niniejszej Polityki prywatności. Data&nbsp;ostatniej aktualizacji
                  będzie znajdować się w nagłówku tej strony, dlatego Klienci i wszyscy&nbsp;odwiedzający stronę internetową
                  <a class="fs-policy-cookie-color-text" routerLink="">
                    <b>{{ wwwAddress }}</b>
                  </a> proszeni są o regularne jej&nbsp;sprawdzanie.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div style="display: inline-flex;">
                <i class="fas fa-lock fa-2x fs-lock-color-icon"></i>
                <p class="fs-font-cookie-panel-header">Polityka prywatności w zakresie dotyczącym użytkowania strony internetowej:</p>
              </div>
            </div>
            <div class="panel-body" style="padding: 48px;">
              <div class="list-group ">
                <a class="list-group-item">
                  <i class="fas fa-circle"></i>
                  <p class="fs-text-circle fs-policy-cookie-font">W różnych obszarach strony internetowej
                    <a class="fs-policy-cookie-color-text" routerLink="">
                      <b>{{ wwwAddress }}</b>
                    </a>
                    <strong>{{ wwwName }}</strong> mogą&nbsp;prosić Klientów i wszystkich odwiedzających tę stronę o przekazanie
                    informacji i danych&nbsp;umożliwiających ich identyfikację i zbierać te dane. Klienci i wszyscy odwiedzający
                    stronę&nbsp;internetową
                    <a class="fs-policy-cookie-color-text" routerLink="">
                      <b>{{ wwwAddress }}</b>
                    </a> mogą zostać poproszeni o podanie imienia, nazwiska,&nbsp;adresu email oraz inne dane. Oprócz danych,
                    które Klienci i wszyscy odwiedzający stronę&nbsp;internetową przekazują świadomie,
                    <strong>{{ wwwName }}</strong> może gromadzić także nazwy domen&nbsp;oraz adresy IP Klientów i wszystkich odwiedzających
                    stronę internetową wraz z danymi&nbsp;statystycznymi uwzględniającymi sposób jej użytkowania.&nbsp;Powyższe
                    informacje i dane wykorzystane będą przez
                    <strong>{{ wwwName }}</strong> wyłącznie w celu&nbsp;usprawnienia ich zawodowej działalności oraz w celu administrowania
                    stroną internetową
                    <a class="fs-policy-cookie-color-text" routerLink="">
                      <b>{{ wwwAddress }}</b>
                    </a>
                  </p>
                </a>
                <a class="list-group-item">
                  <i class="fas fa-circle"></i>
                  <p class="fs-text-circle fs-policy-cookie-font">Informacje i dane, o których mowa powyżej, gromadzone są z wykorzystaniem plików typu&nbsp;„cookies” (tzw.
                    ciasteczka) lub przy użyciu podobnych cyfrowych technologii personalizacji&nbsp;danych. Działania te
                    pozwalają
                    <strong>{{ wwwName }}</strong> na monitorowanie i udoskonalanie treści&nbsp;strony internetowej
                    <a class="fs-policy-cookie-color-text" routerLink="">
                      <b>{{ wwwAddress }}</b>
                    </a> oraz na innych stron internetowych związanych z&nbsp;działalnością {{ wwwName }}. Informacje dotyczące&nbsp;usuwania
                    plików „typu cookies” lub ich blokowania dostępne są na stronie:
                    <a href="http://wszystkoociasteczkach.pl" class="fs-wrap-policy fs-policy-cookie-color-text">
                      <b>http://www.wszystkoociasteczkach.pl</b>
                    </a>
                  </p>
                </a>
                <a class="list-group-item">
                  <i class="fas fa-circle"></i>
                  <p class="fs-text-circle fs-policy-cookie-font fs-wrap-policy">
                    <strong>{{ wwwName }}</strong> może wykorzystywać informacje i dane dotyczące Klientów i wszystkich&nbsp;odwiedzających
                    stronę internetową
                    <a class="fs-policy-cookie-color-text" routerLink="">
                      <b>{{ wwwAddress }}</b>
                    </a> także w celu:
                  </p>
                  <ul class="fs-policy-cookie-font fs-wrap-policy">
                    <li>
                      udostępnienia im&nbsp;spersonalizowanych treści,
                    </li>
                    <li>
                      w celu przetwarzania wszelkich pochodzących od nich zapytań&nbsp;wraz z konieczności udzielenia na nie odpowiedzi,
                    </li>
                    <li>
                      w celach, dla których przekazano te&nbsp;informacje i dane,
                    </li>
                    <li>
                      w celu poprawy jakości treści strony internetowej
                      <a class="fs-policy-cookie-color-text" routerLink="">
                        <b>{{ wwwAddress }}</b>
                      </a>
                    </li>
                  </ul>
                </a>
                <a class="list-group-item">
                  <i class="fas fa-circle"></i>
                  <p class="fs-text-circle fs-policy-cookie-font fs-wrap-policy">Informacje i dane, które zostały w pełni zanonimizowane (tj. pozbawione wszelkich elementów&nbsp;umożliwiających
                    identyfikację Klienta i wszystkich odwiedzających stronę internetową
                    <a class="fs-policy-cookie-color-text" routerLink="">
                      <b>{{ wwwAddress }}</b>
                    </a>) mogą być wykorzystywane przez
                    <strong>{{ wwwName }}</strong> w dowolnych - niezakazanych prawem - celach i mogą być przekazywane osobom trzecim
                    bez ograniczeń.</p>
                </a>
                <a class="list-group-item">
                  <i class="fas fa-circle"></i>
                  <p class="fs-text-circle fs-policy-cookie-font fs-wrap-policy">W treści strony internetowej
                    <a class="fs-policy-cookie-color-text" routerLink="">
                      <b>{{ wwwAddress }}</b>
                    </a> mogą być zawarte odwołania do stron&nbsp;internetowych osób lub podmiotów trzecich (tzw. linki).
                    <strong>{{ wwwName }}</strong> nie ponoszą&nbsp;odpowiedzialności za praktyki tych osób lub podmiotów w zakresie
                    ochrony prywatności Klientów i wszystkich odwiedzających tę stron internetową ani zawartości tych stron&nbsp;internetowych.
                  </p>
                </a>
                <a class="list-group-item">
                  <i class="fas fa-circle"></i>
                  <p class="fs-text-circle fs-policy-cookie-font">W celu zapewnienia kontroli nad danymi i informacjami umożliwiającymi identyfikację Klientów&nbsp;i wszystkich
                    odwiedzających stronę internetową
                    <a class="fs-policy-cookie-color-text" routerLink="">
                      <b>{{ wwwAddress }}</b>
                    </a>, Klienci i wszyscy&nbsp;odwiedzający tę stronę mogą aktualizować dotyczące ich informacje i dane, kontaktując
                    się z&nbsp;
                    <strong>{{ wwwName }}</strong> za pośrednictwem wiadomości email:
                    <a class="fs-policy-cookie-color-text" href="mailto:zayaprojekt@gmail.com">
                      <b>{{ wwwMail }}</b>
                    </a>
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div style="display: inline-flex;">
                <i class="fas fa-lock fa-2x fs-lock-color-icon"></i>
                <p class="fs-font-cookie-panel-header">Polityka prywatności w zakresie dotyczącym użytkowania wiadomości email:</p>
              </div>
            </div>
            <div class="panel-body" style="padding: 48px;">
              <div class="list-group">
                <a class="list-group-item">
                  <i class="fas fa-circle"></i>
                  <p class="fs-text-circle fs-policy-cookie-font">Wszyscy odwiedzający stronę internetową
                    <a class="fs-policy-cookie-color-text" routerLink="">
                      <b>{{ wwwAddress }}</b>
                    </a> proszeni są o nieprzesyłanie&nbsp;informacji lub danych o poufnym charakterze za pośrednictwem wiadomości
                    email:
                    <a class="fs-policy-cookie-color-text" href="mailto:zayaprojekt@gmail.com">
                      <b>{{ wwwMail }}</b>
                    </a> do czasu zawarcia umowy o obsługę prawną z&nbsp;
                    <strong>{{ wwwName }}</strong>, w treści której
                    <strong>{{ wwwName }}</strong> potwierdzą Klientom fakt&nbsp;reprezentowania ich lub występowania w ich imieniu.
                    Wiadomości email przesyłane przez osoby nie będące Klientami
                    <strong>{{ wwwName }}</strong> nie stanowią informacji prawnie chronionej, w&nbsp;konsekwencji czego mogą być
                    ujawniane osobom lub podmiotom trzecim.</p>
                </a>
                <a class="list-group-item">
                  <i class="fas fa-circle"></i>
                  <p class="fs-text-circle fs-policy-cookie-font">Pochodzące od
                    <strong>{{ wwwName }}</strong> wiadomości email, a wraz z nimi wszystkie załączniki&nbsp;przeznaczone są wyłącznie
                    do użytku adresata tych wiadomości. Mogą zawierać one prawnie&nbsp;uprzywilejowane i poufne informacje.
                    Jeśli odbiorca takiej wiadomości nie jest zamierzonym&nbsp;adresatem tej wiadomości,
                    <strong>{{ wwwName }}</strong> informuje, iż jakiekolwiek ujawnianie,&nbsp;kopiowanie, rozpowszechnianie lub
                    innego rodzaju wykorzystywanie informacji zawartych w tej&nbsp;wiadomości jest ściśle zabronione.
                  </p>
                </a>
                <a class="list-group-item">
                  <i class="fas fa-circle"></i>
                  <p class="fs-text-circle fs-policy-cookie-font">W przypadku przesyłanych w treści wiadomości email materiałów chronionych prawem&nbsp;autorskim
                    <strong>{{ wwwName }}</strong> informuje, że ich kopiowanie, rozpowszechnianie lub inne&nbsp;wykorzystywanie
                    stanowić będzie naruszenie praw autorskich ich twórcy/twórców. W wypadku&nbsp;otrzymania przez odbiorcę
                    nie będącego właściwym adresatem wiadomości email pochodzącej&nbsp;od
                    <strong>{{ wwwName }}</strong> fakt taki należy natychmiast zgłosić nadawcy i usunąć z zawartości&nbsp;komputera
                    tą wiadomość email wraz ze wszelkimi do niej załącznikami.</p>
                </a>
                <a class="list-group-item">
                  <i class="fas fa-circle"></i>
                  <p class="fs-text-circle fs-policy-cookie-font">W przypadku pytań, wątpliwości lub jakichkolwiek sugestii związanych zaprezentowaną Polityką&nbsp;prywatności,
                    prosimy o kontakt za pomocą wiadomości email:&nbsp;
                    <a class="fs-policy-cookie-color-text" href="mailto:contact@zayac.pl">
                      <b>{{ wwwMail }}</b>
                    </a>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fs-lock-cookie-margin" [hidden]="isShowSocialMedia">
        <div class="col-md-12 zaya-text-center zaya-center-header" style="margin-bottom: 0px">
          <i class="fas fa-user-circle fa-1x fs-lock-color-icon"></i>
          <h2 class="zaya-center-header">POLITYKA MEDIÓW SPOŁECZNOŚCIOWYCH</h2>
        </div>

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div style="display: inline-flex;">
                  <i class="fas fa-user-circle fa-2x fs-lock-color-icon"></i>
                <p class="fs-font-cookie-panel-header">Czym jest polityka mediów społecznościowych:</p>
              </div>
            </div>
            <div class="panel-body" style="padding: 48px;">
              <div class="fs-policy-cookie-font">
                <p> Firma
                  <strong>{{ wwwName }}</strong> chce być w stałym kontakcie ze swoimi Klientami i w związku z tym&nbsp;przewidują
                  konieczność używania w tym celu m. in. platform mediów społecznościowych.&nbsp;W celu określonym powyżej
                  
                  <strong>{{ wwwName }}</strong> korzysta z następujących platform&nbsp;społecznościowych: Facebook, Instagram.
                  <br>
                  <br> Dla zapewnienia skutecznej i niezakłóconej komunikacji między Stronami za pośrednictwem&nbsp;mediów społecznościowych
                  
                  <strong>{{ wwwName }}</strong> określiła czytelne zasady tej komunikacji.</p>

                <p>Jeśli mają Państwo w powyższym zakresie jakiekolwiek uwagi czy sugestie prosimy o kontakt z&nbsp;nami za
                  pośrednictwem formularza kontaktowego lub wiadomości email:
                  <a class="fs-policy-cookie-color-text" href="mailto:kontakt@dlblegal.pl"><b>{{ wwwMail }}</b></a>.</p>
                <ol>
                  <li>Wszystkie serwisy społecznościowe są monitorowane i 
                    <strong>{{ wwwName }}</strong> zastrzega sobie&nbsp;prawo do usuwania komentarzy Użytkowników lub ich blokowania
                    w razie wystąpienia&nbsp;przynajmniej jednego z następujących powodów:

                    <ul>
                      <li>
                        <strong>Niepowiązane komentarze:</strong> jeśli komentarze lub posty Użytkowników nie są związane z&nbsp;tematem
                        postu;
                      </li>
                      <li>
                        <strong>Nieodpowiednie komentarze:</strong> jeśli komentarze lub posty zawierają wulgaryzmy lub inne treści,&nbsp;które
                        są nielegalne, obraźliwe, oszczercze lub szkalujące czyjeś dobre imię;</li>
                      <li>
                        <strong>Spam:</strong> wszelkie komentarze lub poty ukierunkowane na sprzedaż produktu lub usług lub&nbsp;stanowiące
                        próbę skierowania Użytkowników do określonej strony internetowej w celu uzyskania&nbsp;korzyści osobistych,
                        politycznych lub pieniężnych;</li>
                      <li>
                        <strong>Słowne ataki:</strong> wszelkie treści, które bezpośrednio zagrażają lub szkalują dobre imię Firmy&nbsp;
                        <strong>{{ wwwName }}</strong>, naszych Klientów lub naszych pracowników</li>
                    </ul>
                  </li>
                  <li>Firma 
                    <strong>{{ wwwName }}</strong> ponosi odpowiedzialność za treści zamieszczane przez siebie w&nbsp;mediach społecznościowych.&nbsp;Dla
                    zapewnienia powyższej zasady zostały przygotowane przez Firmę
                    <strong>{{ wwwName }}</strong> wytyczne&nbsp;dla niej dotyczące sposobu korzystania z kont mediów społecznościowych,
                    które obejmują&nbsp;Facebook, Instagram, Twitter.</li>
                  <li>Oficjalna obecność Firmy
                    <strong>{{ wwwName }}</strong> na platformach społecznościowych obejmuje&nbsp;następujące media Facebook, Instagram
                    i Twitter jako
                    <strong>@Zaya</strong>.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>