<section class="dagnes-wrap-404">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-8">
        <div class="dagnes-container-404">
          <h1 class="dagnes-huge-text">404</h1>
          <h2 style="margin-bottom: 50px;">Strona której szukasz nie istnieje.</h2>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="input-group dagnes-center-button">
          <button class="btn btn-success" routerLink="" type="button">PRZEJDŹ DO STRONY GŁÓWNEJ</button>
        </div>
      </div>
    </div>
  </div>
</section>