/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap-theme.min.css";
/* @import "~font-awesome/css/font-awesome.min.css"; */
@import "../src/assets/custom-css/flexslider.min.css";
/* @import "~angular2-lightbox/lightbox.css"; */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.btn-primary-spacing 
{
    margin-top: 40px;
    margin-right: 15px;
}

.btn, .btn-primary{
    border-radius: 30px 30px 30px 30px;
    padding: 20px 66px;
}

.form-control.ng-touched.ng-invalid{
    border: 2px solid #A94442;
}


 /* .btn, .btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited{
    background-color: #C3BF0A;
    border-color: #C3BF0A;
    background-image: linear-gradient(to bottom,#ede73b 0,#C3BF0A 100%);
    background-repeat: repeat-x;
    border-radius: 30px 30px 30px 30px;
    padding: 20px 66px;
} 

.btn-warning:focus  {
    background-color: #C3BF0A;
    background-position: 0 -15px !important;
}

.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active:visited{
    background-color: #C3BF0A;
    border-color: #C3BF0A;
} */

/*
background-color: #C3BF0A;
    border-color: #C3BF0A;
    background-image: linear-gradient(to bottom,#ede73b 0,#C3BF0A 100%);
    */

/* .btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
} */