/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap-theme.min.css";
/* @import "~font-awesome/css/font-awesome.min.css"; */
@import "../src/assets/custom-css/flexslider.min.css";
/* @import "~angular2-lightbox/lightbox.css"; */
@import "~ngx-toastr/toastr.css";

*{
    font-family: 'Open Sans', sans-serif;
  }

.btn-primary-spacing 
{
    margin-top: 40px;
    /* margin-right: 15px; */
}

.btn, .btn-primary{
    border-radius: 10px 10px 10px 10px;
    padding: 20px 66px;
    font-size: 24px;
}

.form-control.ng-touched.ng-invalid{
    border: 2px solid #A94442;
}

.btn, .btn-success,  .btn-success:active, .btn-success:visited, .btn-success:active[disabled], .btn-success[disabled]{
    background-color: #419641;
    border-color: #3e8f3e;
    background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
    background-repeat: repeat-x;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 66px;
    font-weight: 700;
} 

.btn-success:focus  {
    background-color: #419641;
}

.btn-success:hover, .btn-success:active:hover, .btn-success:active:focus, .btn-success:active:visited, .btn-success:hover[disabled]{
    background-color: #419641;
    border-color: #3e8f3e;
    background-image: linear-gradient(to bottom,#419641  0,#419641 100%);
}

.btn-success:hover, .btn-success[disabled]:hover {
    background-color: #419641;
    background-position: 0 -15px;
}

/* .btn.btn-gray {
    border: 1px solid #3498DB;
    -webkit-box-shadow: inset 0 1px 2px #3498DB;
    -moz-box-shadow: inset 0 1px 2px #3498DB;
    box-shadow: inset 0 1px 2px #3498DB;
    background: #3498DB;
    background-size: 100%;
    color: white;
}

.btn.btn-gray:hover {
    background: #3498DB;
    background-size: 100%;
    -webkit-transition: box-shadow 0.05s ease-in-out;
    -moz-transition: box-shadow 0.05s ease-in-out;
    -o-transition: box-shadow 0.05s ease-in-out;
  transition: box-shadow 0.05s ease-in-out; 
}

.btn.btn-gray:active {
    background: #3498DB;
    border-color: #3498DB;
    -webkit-box-shadow: 0 0 5px #3498DB inset;
    -moz-box-shadow: 0 0 5px #3498DB inset;
    box-shadow: 0 0 5px #3498DB inset; 
} */


.zaya-quote-wrap {
    float: left;
    width: 100%;
    padding: 60px 0 60px;
    background: #F7F8FA; /* #c3bf0a; */
    text-align: center;
    margin-top: -140px;
    margin-bottom: 80px;
    
}

.zaya-quote-wrap .zaya-quote-text {
    float: left;
    width: 100%;
    color: #c3bf0a; /* white; */
    font-size: 45px;
    font-family: Pacifico;
}

@media (max-width: 412px) {
    .zaya-quote-wrap-main .zaya-quote-text-main {
        font-size: 30px !important;
    }
    .btn, .btn-success,  .btn-success:active, .btn-success:visited, .btn-success:active[disabled], .btn-success[disabled]{
        font-size: 20px;
    }
    
}

.zaya-text-center{
    text-align: center;
}

.zaya-center-header{
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 30px;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #c3bf0a !important;
    font-weight: 600;
}