<!-- <div class="row"> -->
<!-- <div class="flexslider-container"> -->
<div class="flexslider" data-slideshow-speed="7000" data-control-nav="false" data-direction-nav="false" data-slideshow="true" id="ed6c4497-fcfd-492d-8a99-d1c6196dd679"
    #zayaslider>
    <ul class="slides">
        <li>
            <img src="assets/images/slider666.jpeg" style="opacity: 0.8"/>
            <div class="zaya-container-slider">
                <!-- <div class="row">
                    <div class="col-lg-10 col-lg-offset-1"> -->
                        <div class="zaya-fake-container">
                            <p class="zaya-slider-h">Spotkajmy się u Ciebie w ogrodzie</p>
                            <h5 class="zaya-slider-p">lsdjasdhaskdhaskdhaskdhasduas. ndkfnfdgfngfdgndfogfdng. dlifjfigfdgifjdgidf</h5>
                            <button type="button" routerLink="/contact" class="btn btn-success btn-lg btn-responsive">ZOSTAW WIADOMOŚĆ</button>
                        </div>
                    <!-- </div>
                </div> -->

            </div>
        </li>
        <li>
            <img src="assets/images/slider777.jpg" style="opacity: 0.8" />
            <div class="zaya-container-slider resize">
                    <div class="zaya-fake-container"></div>
                <!-- <div class="row">
                    <div class="col-lg-10 col-lg-offset-1"> -->
                        <p class="zaya-slider-h">Twój Dom jest twoim wnętrzem</p>
                        <p class="zaya-slider-p">lsdjasdhaskdhaskdhaskdhasduas. ndkfnfdgfngfdgndfogfdng. dlifjfigfdgifjdgidf</p>
                        <button type="button" scrollTo scrollTargetSelector="#zaya-services" class="btn btn-success btn-lg btn-responsive">ZOBACZ MOJE USŁUGI</button>
                    </div>
                <!-- </div>
            </div> -->
        </li>
        <!-- <li>
            <img src="assets/images/slider33.jpg" height="300" />
        </li> -->
    </ul>
</div>
<!-- </div> -->