<div class="flexslider" data-slideshow-speed="7000" data-control-nav="false" data-direction-nav="false" data-slideshow="true"
    id="ed6c4497-fcfd-492d-8a99-d1c6196dd679" #zayaslider>
    <ul class="slides">
        <li>
            <img src="assets/images/slider666.jpeg" style="opacity: 0.8" />
            <div class="zaya-container-slider">
                <div class="zaya-slider-h">
                    <p>Spotkajmy się </p>
                    <p> u Ciebie w ogrodzie</p>
                </div>
                <!-- <h5 class="zaya-slider-p">lsdjasdhaskdhaskdhaskdhasduas. ndkfnfdgfngfdgndfogfdng. dlifjfigfdgifjdgidf</h5> -->
                <button type="button" routerLink="/contact" class="btn btn-success btn-lg btn-responsive">ZOSTAW WIADOMOŚĆ</button>
            </div>
        </li>
        <li>
            <img src="assets/images/slider777.jpg" style="opacity: 0.8" />
            <div class="zaya-container-slider resize">
                <div class="zaya-slider-h">
                    <p>Twój Dom </p>
                    <p>jest twoim wnętrzem</p>
                </div>
                <!-- <p class="zaya-slider-p">lsdjasdhaskdhaskdhaskdhasduas. ndkfnfdgfngfdgndfogfdng. dlifjfigfdgifjdgidf</p> -->
                <button type="button" scrollTo scrollTargetSelector="#zaya-services" class="btn btn-success btn-lg btn-responsive">ZOBACZ OFEROWANE USŁUGI</button>
            </div>
        </li>
    </ul>
</div>