<!-- <div class="row"> -->
  <!-- <div class="flexslider-container"> -->
  <div class="flexslider" data-control-nav="false" data-direction-nav="false" data-slideshow="true" id="ed6c4497-fcfd-492d-8a99-d1c6196dd679"
      #zayaslider>
      <ul class="slides">
          <li>
              <img src="assets/images/slider4.jpg" />
          </li>
          <li>
              <img src="assets/images/slider2.jpg" />
          </li>
          <li>
              <img src="assets/images/slider3.jpg" />
          </li>
      </ul>
  </div>
<!-- </div> -->
